$font-family-georgia: Georgia, sans-serif;
$font-family-roboto: Roboto, Helvetica, sans-serif;

$font-family: (
  georgia: $font-family-georgia,
  roboto: $font-family-roboto
);

$font-color: #333;
$link-color: #ea141f;
$separator-color: rgba(0, 0, 0, .125);
