.u-box {
  padding: 1rem;
}

.u-highlighted {
  color: $link-color;
}

.align-center {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.align-left {
  display: block;
  margin: 1em auto;
  width: 90%;
}
