.align-center,
.align-center-keep-size {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.align-left {
  display: block;
  margin: 1em auto;
  max-width: 90%;
}

.representative-image {
  display: block;
  margin: 0 auto 1em auto;
  text-align: center;
}

.u-box {
  padding: 1rem;
}

.u-highlighted {
  color: var(--link-color);
}

@media screen and (min-width: 620px) {
  .align-center-keep-size {
    width: auto;
  }

  .align-left,
  .representative-image {
    float: left;
    margin: 0 1em 0.5em 0;
  }
}
