$blockquote-border-color: rgba(0, 0, 0, .0625) !default;
$code-background-color: #f0f0f0 !default;
$font-family: Georgia, sans-serif !default;
$img-border-color: #dcdcdc !default;
$read-more-color: lighten($font-color, 30);

.Article {
  border-bottom: 1px solid $separator-color;
  padding-bottom: 2.5em;
  padding-top: 2.5em;

  .is-fullEntry & {
    border-bottom: 0;
  }
}

.Article-title {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: -.0230em;
  line-height: 1.12;
  margin: 0 0 0.367em;

  .is-fullEntry & {
    font-size: 40px;
  }
}

.Article-titleLink {
  color: $font-color;
  display: block;
  text-decoration: none;
}

.Article-pubDate {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.Article-content {
  font-family: $font-family;
  font-size: 1.12rem;
  line-height: 1.5;
  letter-spacing: -.004em;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Roboto, Helvetica, sans-serif;
    padding-top: 16px;
  }

  a {
    color: $link-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  blockquote {
    border-left: 2px solid $blockquote-border-color;
    color: lighten($font-color, 20);
    font-style: italic;
    margin-left: 0;
    margin-right: 0;
    padding: 0 0 0 1.5rem;
  }

  code {
    background: $code-background-color;
    padding: 0 6px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  img {
    border: 2px solid $img-border-color;
    height: auto;
    max-width: 100%;
  }

  ul {
    padding-left: 20px;
  }

  li {
    margin-bottom: 10px;
  }

  pre {
    padding: 15px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

}

.Article-footer {
  margin: 0;

  .Article-readmore {
    color: $read-more-color;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: .75rem;
    font-weight: 500;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

.Article-comments {
  padding-top: 40px;
}

.Article-tags {
  font-family: $font-family;
  margin-bottom: 40px;
}
