$font-family: Georgia, sans-serif;

.Article {
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  padding-bottom: 40px;
  padding-top: 40px;

  .is-fullEntry & {
    border-bottom: 0;
  }
}

.Article-title {
  display: block;
  font-size: 26px;
  font-weight: 500;
  margin: 0 0 10px 0;

  .is-fullEntry & {
    font-size: 40px;
  }
}

.Article-titleLink {
  color: $font-color;
  text-decoration: none;
}

.Article-pubDate {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.Article-content {
  font-family: $font-family;
  font-size: 20px;
  line-height: 32px;

  h1, h2, h3, h4, h5, h6 {
    font-family: Roboto, Helvetica, sans-serif;
    padding-top: 16px;
  }

  a {
    color: $link-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  blockquote {
    color: lighten($font-color, 20);
    border-left: 4px solid rgba(0, 0, 0, .0625);
    margin-left: 0;
    margin-right: 0;
    font-style: italic;
    padding: 0 0 0 1.5rem;
  }

  code {
    background: #f0f0f0;
    padding: 0 6px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  img {
    border: 4px solid #dcdcdc;
    height: auto;
    max-width: 100%;

    &.align-left {
      float: left;
      max-width: 40%;
    }
  }

  ul {
    padding-left: 20px;
  }

  li {
    margin-bottom: 10px;
  }

  pre {
    padding: 15px;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

}

.Article-footer {
  margin: -20px 0 0 0;
  text-align: right;

  .Article-readmore {
    color: $font-color;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.Article-comments {
  padding-top: 40px;
}

.Article-tags {
  font-family: $font-family;
  margin-bottom: 40px;
}
