$pagination-color: lighten($font-color, 30) !default;
$pagination-border-color: $pagination-color !default;

.Pagination-item {
  display: none;

  &--arrow {
    display: block;
  }
}

.Pagination-link {
  border: 1px solid $pagination-border-color;
  color: $pagination-color;
  display: block;
  line-height: 3;
  margin: .3125em 0;
  text-align: center;
  text-decoration: none;
}
