.PageHeader {
	font-size: 18px;
	padding: 2rem 0;
}

.PageHeader-menu {
	float: right;
}

.PageHeader-link {
	color: $font-color;
	text-transform: lowercase;

  &:hover {
    background: transparent;
    color: $link-color;
  }
}
