.Pagination {
  list-style: none;
  text-align: center;
}

.Pagination-item {
  border: 1px solid opacify($font-color, .125);
  display: inline-block;

  &--active {
      border: 0;
  }
}

.Pagination-link {
  color: $font-color;
  display: block;
  padding: 5px 10px;
  text-decoration: none;

  &:hover {
    background: $link-color;
    color: white;
  }
}
