%align-center {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.u-box {
  padding: 1rem;
}

.u-highlighted {
  color: $link-color;
}

.align-center {
  @extend %align-center;
}

.align-center-keep-size {
  @extend %align-center;

  @media screen and (min-width: 620px) {
    width: auto;
  }
}

.align-left {
  display: block;
  margin: 1em auto;
  width: 90%;

  @media screen and (min-width: 620px) {
    float: left;
    margin: 0 1em .5em 0;
    max-width: 25%;
  }
}
