<article class="Article u-box">
    <header>
        <h1 class="Article-title">
            {% if is_summary %}
                <a
                    class="Article-titleLink"
                    href="{{ SITEURL }}/{{ article.url }}"
                    title="Read more">
            {% endif %}
            {{ article.title }}
            {% if is_summary %}
                </a>
            {% endif %}
        </h1>
    </header>

    <div class="Article-content">
        {% if is_summary %}
            {{ article.summary }}
            <p class="Article-footer">
                <a
                    class="Article-readmore"
                    href="{{ SITEURL }}/{{ article.url }}"
                    title="Leia o artigo completo">Leia mais...</a>
            </p>
        {% else %}
            {{ article.content }}
        {% endif %}
    </div>

    {% if not is_summary %}
        <span class="Article-pubDate">
            Published on
            <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
        </span>

        {% if article.tags %}
            <div class="Article-tags">
                <span class="Article-tagLabel">Tags:</span>
                {% for tag in article.tags %}
                    <a
                        href="{{ SITEURL }}/{{ tag.url }}"
                        title="Leia mais sobre {{ tag }}"
                        class="Article-tagLink">{{ tag }}</a>
                {% endfor %}
            </div>
        {% endif %}

        <div
            class="Article-share share-bar"
            data-title="{{ article.title }}"
            data-url="{{ SITEURL }}/{{ article.url }}">
            <!-- share-bar plugin -->
        </div>

        <div class="Article-comments">
            {% include "includes/disqus.html" %}
        </div>
    {% endif %}
</article>
