<footer class="PageFooter pure-u-1">
    <div class="u-box">
        <p>{{ gettext('The content of this blog is under') }}
          <a
              class="PageFooter-link"
              href="{{ LICENSE_URL }}"
              title="{{ LICENSE_TITLE}}">{{ LICENSE }}</a>.</p>

        <p>{{ gettext('The source code is available in') }}
          <a
              class="PageFooter-link"
              href="{{ SOURCE_CODE_URL }}"
              title="Contribute!">{{ SOURCE_CODE_REPOSITORY }}</a>.</p>
    </div>
</footer>
