$pagination-color: lighten($font-color, 30) !default;
$pagination-border-color: $pagination-color !default;

.Pagination {
  list-style: none;
  text-align: center;
}

.Pagination-item {
  display: none;

  &--arrow {
    display: block;
  }

  @media screen and (min-width: 620px) {
    display: inline-block;
  }
}

.Pagination-link {
  border: 1px solid $pagination-border-color;
  color: $pagination-color;
  display: block;
  line-height: 3;
  margin: .3125em 0;
  text-align: center;
  text-decoration: none;

  &--active {
    border: 0;
  }


  @media screen and (min-width: 620px) {
    line-height: 1;
    margin: .05em;
    padding: .5em;

    .Pagination-text {
      display: none;
    }
  }
}
