$footer-background-color: #f4f4f4 !default;

.PageFooter {
  background: $footer-background-color;
  border-top: 1px solid $separator-color;
  font-size: .88rem;
  font-style: italic;
  padding-bottom: 6.819em;
  padding-top: 6.819em;
  text-align: center;

  .PageFooter-link {
    color: $font-color;
    font-weight: 500;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

}
