{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}
{% block canonical_url %}{{ article.meta.canonical }}{% endblock %}
{% block description %}{{ article.meta.description }}{% endblock %}
{% block robots %}{{ article.meta.robots }}{% endblock %}

{% block styles %}
  {{ super() }}

  <link rel="stylesheet" href="{{ SITEURL }}/theme/share-bar/dist/css/share.bar.min.css">
{% endblock %}

{% block page_css %}is-fullEntry{% endblock %}

{% block content %}

    {% set is_summary = false %}
    {% include "includes/article.html" %}

{% endblock content %}

{% block scripts %}
  {{ super() }}

  <script src="{{ SITEURL }}/theme/share-bar/dist/js/share.bar.min.js"></script>
  <script>
    new ShareBar({
        facebookAppId: {{ FACEBOOK_APP_ID }}
    });
  </script>
{% endblock %}
